  @if(fuelId){
    <h3 class="text-center">Edit trip</h3>
  }@else{
    <h3 class="text-center">Create new trip</h3>
  }
    <form [formGroup]="fuelForm" (ngSubmit)="onSubmit()" class="d-flex flex-column container-fluid container-md">
      <!-- Trip Name -->
      <mat-form-field class="full-width">
        <mat-label>Trip Name</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>
  
      <!-- Starting Point -->
      <mat-form-field class="full-width">
        <mat-label>Starting Point</mat-label>
        <input matInput formControlName="startingPoint" required />
      </mat-form-field>
  
      <!-- Destination -->
      <mat-form-field class="full-width">
        <mat-label>Destination</mat-label>
        <input matInput formControlName="destination" required />
      </mat-form-field>
  
      <!-- Distance -->
      <mat-form-field class="full-width">
        <mat-label>Distance (km)</mat-label>
        <input matInput type="number" formControlName="distance" required />
      </mat-form-field>
  
      <!-- Fuel Consumption -->
      <mat-form-field class="full-width">
        <mat-label>Fuel Consumption (L/100km)</mat-label>
        <input matInput type="number" formControlName="fuelConsumption" required />
      </mat-form-field>
  
      <!-- Petrol Price -->
      <mat-form-field class="full-width">
        <mat-label>Petrol Price (PLN/L)</mat-label>
        <input matInput type="number" formControlName="petrolPrice" required />
      </mat-form-field>
  
      <!-- Total Cost (Read-Only) -->
      <mat-form-field class="full-width">
        <mat-label>Total Cost (PLN)</mat-label>
        <input matInput type="number" formControlName="totalCost" [disabled]="true" />
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="fuelForm.invalid">
        Submit
      </button>
    </form>
  