<mat-toolbar >
    <div class="d-flex w-100 ">
        <i class="material-icons">directions_car_filled</i>
        <span>Car Log</span>
        <!-- <button class="ms-auto"  mat-icon-button>
            <i class="material-icons ms-auto">logout</i>
        </button> -->
        <!-- <button mat-button class="d-flex flex-column align-items-center  ms-auto" >
            <i class="material-icons">logout</i>
            <span>Log Out</span>
        </button> -->

        <div class="d-flex flex-column align-items-center justify-content-center ms-auto">
            <button mat-button class="d-flex flex-column align-items-center btn btn-sm p-1">
                <i class="material-icons fs-6">logout</i>
                <span class="fs-6">Log Out</span>
            </button>
        </div>

    </div>


  </mat-toolbar>