<div class="container-fluid">
    <h2 class="text-center mb-3">Garage</h2>
    <div class="d-flex flex-column gap-2 mb-3">
        <button mat-raised-button class="w-100" *ngFor="let car of cars" (click)="navigateToCar(car.id)">
            <div class="d-flex align-items-center">
                <div class="">
                    <img [src]="car.image" alt="{{ car.name }}" width="40" height="40" style="border-radius: 50%; margin-right: 8px;">
                </div>
                <div class="">
                    {{ car.name }}
                </div>
            </div> 

        </button>
    </div>
    <button mat-raised-button class="w-100" (click)="navigateToGarageForm()">Add Car</button>
    <!-- <div class="d-flex justify-content-center">
        <mat-list>
            @for (car of cars; track car) {
                <mat-list-item>
                    <img matListItemAvatar  src="{{car.image}}" alt="...">
                    <button mat-raised-button>
                <h3 matListItemTitle>{{car.name}}</h3>
                <p matListItemLine>
                    <span>test</span>
                    <span class="demo-2"> -- test</span>
                  </p>
                </button>
            </mat-list-item>
        }
    </mat-list>
    </div> -->


</div>
