.mat-mdc-row:hover {
    background-color: #EAEAEA  ;
    cursor: pointer; /* Makes the cursor appear as a hand when hovering over the row */
  }

  .symbol-column {
    text-align: right;
  }

  .mat-column-name {
   width: 99%;
  }